<template>
  <div class="pw-wrapper">
    <input
      :placeholder="placeholder"
      :type="passwordFieldType"
      :value="modelValue"
      @focus="focus"
      @input="$emit('update:modelValue', $event.target.value)"
    >
    <div class="eye-wrapper">
      <button
        class="eye-btn"
        type="button"
        @click="toggleVisibility"
      >
        <fa
          v-if="passwordFieldType === 'password'"
          icon="eye-slash"
        />
        <fa
          v-else
          icon="eye"
        />
        <span
          v-if="passwordFieldType === 'password'"
          class="sr-only"
        >Hide password</span>
        <span
          v-else
          class="sr-only"
        >Show password</span>
      </button>
    </div>
  </div>
</template>
<script>
import { ref } from "vue";

export default {
  props: {
    modelValue: { type: String, default: "Password" },
    placeholder: { type: String, default: "Password" },
    focus: { type: Function, default: () => {} },
  },
  emits: ["update:modelValue"],
  setup() {
    const passwordFieldType = ref("password");
    return { passwordFieldType };
  },
  methods: {
    toggleVisibility() {
      this.passwordFieldType =
        this.passwordFieldType === "password" ? "text" : "password";
    },
  },
};
</script>
