<template>
  <input
    :placeholder="placeholder"
    :value="modelValue"
    @focus="resetError"
    @input="$emit('update:modelValue', $event.target.value)"
  />
</template>
<script>
export default {
  inject: ["reset"],
  props: {
    modelValue: { type: String, default: "value" },
    placeholder: { type: String, default: "text" },
  },
  emits: ["update:modelValue"],
  methods: {
    resetError() {
      return this.reset();
    },
  },
};
</script>
